* {
    margin: 0;
    padding: 0;
}


body {
    background: url(../images/bigben.jpg) no-repeat;
    background-size: cover;
}

.clock {
    height: 100vh;
    width: 100%;
}

.face {
    position: relative;
    border: 5px solid #000;
    width: 24em;
    height: 24em;
    left: 60%;
    top: 15%;
    border-radius: 50%;
    transform: translateY(-3px);
}

.hand {
    position: absolute;
    width: 50%;
    border: 3px solid green;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.3, 2.2, 0.3, 1);
}
