* {
    margin: 0;
    padding: 0;
}


body {
    background: url(../images/bigben.jpg) no-repeat;
    background-size: cover;

    min-height: 100vh;

    display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: flex;

    -ms-align-items: center;
     align-items: center;
}



.clock {
    width: 25rem;
    height: 25rem;
    border: 6px solid black;
    margin: auto;
    border-radius: 50%;
    position: relative;
    padding: 5px;
}

.face {
    position: relative;
    transform: translateY(-3px); /* This is to account for the borders of the hands */
    width: 100%;
    height: 100%;
}

.hand {
    top:50%;
    position: absolute;
    width: 50%;
    height: 6px;
    background-color: #000;
    transform-origin: 100%;
    transform: rotate(90deg);
}

.homelink {
    position: absolute;
    padding: 10px;
    border-radius: 4px;
    height: 20px;
    top: 10px;
    left: 10px;
    background-color: #000;
}

.homelink a {
        color: #fff;
    text-decoration: none;
}
