* {
    margin: 0;
    padding: 0;
}

body {

    background: url('../images/drums.jpg') no-repeat;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    height: 100vh;
}


.keys{
    border: 1px solid red;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-align: center;
    -ms-align-items: center;
    align-items: center;
}

kbd{
    color: white;
}
