:root {
    --base: #F1A784;
    --border: 10px;
    --blur: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    text-align: center;
    max-width: 1200px;
    max-height: 90vh;
    margin: 5vh auto;
    overflow: hidden;

}

img {
    width: 80%;
    background-color: var(--base);
    padding: var(--border);
    filter: blur(var(--blur));
}

h1 {
    font-size: 3rem;
}

.controls label {
    margin-left: 40px;
}

.controls {
    margin: 30px;
    padding: 10px;
}

.hl_c {
    color: var(--base);
}
.hl_s {
    font-size: calc(var(--border)*1.3);
}
.hl_b {
    filter: blur(var(--blur));
}
