/* font-family: 'Oswald', sans-serif;
font-family: 'Charmonman', cursive; */

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;

    display: flex;

    flex-direction: column;
    margin: 0;
    padding: 0;

}

.row {

    display: flex;

    flex: 1;

}

.block {

    flex: 1;
    background-color: rgba(255,198,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 25px rgba(0, 0, 0, 0.4);
}

.block:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Oswald', sans-serif;
    background-color: #ffc600;
    color: #0039ff;

}

.block h3{
    color: black;
    font-family: 'Charmonman', cursive;
    font-weight: bolder;
}

.mainLink{
    text-decoration: none;

}

.row2, .row4 {
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: #0039ff;
    background-color: #ffc600;
    text-shadow: 3.5px 3.5px 0px rgba(0, 0, 0, 0.4);

}




