/* font-family: 'Oswald', sans-serif;
font-family: 'Charmonman', cursive; */

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;

    display: flex;

    flex-direction: column;
    margin: 0;
    padding: 0;

}

.row {

    display: flex;

    flex: 1;

}

.block {

    flex: 1;
    background-color: rgba(255,198,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 25px rgba(0, 0, 0, 0.4);
}

.block:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Oswald', sans-serif;
    background-color: #ffc600;
    color: #0039ff;
}

.block h3{
    color: black;
    font-family: 'Charmonman', cursive;
    font-weight: bolder;
}

.block h3:hover {
    text-align: center;
    color: #0039ff;
    font-family: 'Charmonman', cursive;
    font-weight: 600;
    font-size: 1.6rem;
}

.mainLink{
    text-decoration: none;

}

.row2, .row4 {
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: #0039ff;
    background-color: #ffc600;
    text-shadow: 3.5px 3.5px 0px rgba(0, 0, 0, 0.4);

}


.row1, .row3, .row5 {
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.8), 0 25px 25px 0 rgba(0, 0, 0, 0.8);
}

.homelink {
    position: absolute;
    margin: 0;
    padding: 6px;
    background-color:  #ffc600;
    border-radius: 3px;
    box-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.4);

}

.homelink a{
    text-decoration: none;
    color:#0039ff;
    font-weight: bold;
}

.homelink:hover {
    background-color: #0039ff;
    padding: 10px;
    font-weight: bold;
}
.homelink:hover a{
color: white;
    text-decoration: none;
}

