body {
    background-color: #ddd;
    padding: 2%;
}

.main {
    background-color: red;

}

.row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    background-color: #bbb;
}

